<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ECOM.IIT</title>
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>

  
  <body>
    <div class="header">
        <div class="header-logo">ism FASHION STORE </div>
        <div class="header-list">
          
            <div class="btn-wrapper">
              <a href="#" class="btn signup">PRODUCTS</a>
              
              
              <a href="/login" class="btn fa
              cebook">LOGIN</a>
              <a href="/sign" class="btn twitter">SIGN UP</a>
            </div>
          
        </div>
      </div>
    <div class="top-wrapper">
      <div class="container">
        <h1>BUY THE GOODS.</h1>
        <h1>FEEL THE HAPPINESS.</h1>
        <p>explore the unimaginable euphoria with your money </p>
        
        
      </div>
    </div>
    
    <div class="lesson-wrapper">
    </div>
    <div class="message-wrapper">
    </div>
    <div class="main">
        <div class="copy-container">
          <h1>LETS HAVE A LOOK AT PRODUCTS<span>.</span></h1>
          <h2></h2>
        </div>
        
        <div class="contents">
          <h3 class="section-title">FASHION</h3>
          <div class="contents-item">
            <img src="https://assets.ajio.com/medias/sys_master/root/20210812/OQTP/61146c74f997ddce899be56d/dennislingo_premium_attire_navy_spread_collar_slim_fit_shirt.jpg">
            <a href="https://www.ajio.com/men-shirts/c/830216013" class="btn cloths">SHIRTS</a>
          </div>
          <div class="contents-item">
            <img src="https://assets.ajio.com/medias/sys_master/root/h47/hb8/14876616851486/dnmx_black_mid-rise_fitted_jeans.jpg">
            <a href="https://www.ajio.com/men-trousers-pants/c/830216004" class="btn cloths">TROUSERS</a>
          </div>
          <div class="contents-item">
            <img src="https://assets.ajio.com/medias/sys_master/root/20220602/zzqz/6298e268aeb26921af0853f7/nike_white_%26_grey_logo_print_lace-up_shoes.jpg">
            <a href="https://www.ajio.com/men-casual-shoes/c/830207006" class="btn cloths">SHOES</a>
          </div>
        </div>

        <footer>
            <div class="footer">
                <div class="footer-logo">INDIA</div>
                <div class="footer-list">
                  <ul>
                    <li>About</li>
                    <li>Jobs</li>
                    <li>Contact us</li>
                  </ul>
                </div>
              </div>
        </footer>
 
  </body>
</html>